/* root */

:root {
    --primary-text-color:#434455;
    --title-text-color:#2E2F42;
    --second-text-color:#FFFFFF;
    --accent-color:#4D5AE5;
    --head-background-color:#E5E5E5;
    --other-background-color: #F4F4FD;}


html {box-sizing: border-box;}   

*, 
*::before, 
*::after {box-sizing: inherit;}

/* conteiner */
.conteiner {margin-left: auto;
            margin-right: auto;
            width: 1158px;}
/* body */

body {color:var(--primary-text-color);
    background-color:var(--second-text-color);
    font-family: 'Roboto', sans-serif; 
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    line-height: 1,5;
    margin: 0;}
ul {list-style-type: none;
    padding: 0;
    margin: 0;}

/* header */
 

.web {align-items: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;    
    color:var(--accent-color);}
 .logo {    
    font-family:'Raleway';
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 24px;
    align-items: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--title-text-color);
    text-decoration: none;
    margin-top: 24px;
    margin-bottom: 24px;
    margin-right: 77px;}


.main-nav {display: flex;}
.nav {display: flex;
    margin-right: 331px;}
.site {display: flex;
    }
.site .item + .item {margin-left: 40px;}

.mail {display: flex;}
.mail .item + .item {margin-left: 40px;}
.mail .address {display: block;
                margin-top: 24px;
                margin-bottom: 24px;}




.nav .site .link {display: block;
                  margin-top: 24px;
                  margin-bottom: 24px;
                  font-weight: 600;
                  line-height: 24px;
                  color:var(--title-text-color);    
                  align-items: center;
                  letter-spacing: 0.02em;                  
                  text-decoration: none;}

.work {text-decoration: none;}

.nav .site .link:hover, .nav .site .link:focus {color:var(--accent-color);}  

.mail .address, .ul .style {color:var(--primary-text-color);
    text-decoration: none;} 
.mail .address:hover  {color:var(--accent-color);}    
.mail .address:focus  {color:var(--accent-color);}    

/* block hero */

.header-title {background:var(--title-text-color);
    text-align: center;
    margin-bottom: 120px;}
.main.header {margin-top: 0;
    margin-bottom: 48px;
    font-weight: 600;
    font-size: 56px;
    line-height: 60px;    
    letter-spacing: 0.02em;
    color:var(--second-text-color);}    


/* button */

.button {color:var(--second-text-color); 
    background:var(--accent-color);
    padding-left: 16px 32px;
    font-weight: 600;
    line-height: 1.1;
    align-items: center; 
    letter-spacing: 0.04em;
    flex: none;
    order: 0;
    flex-grow: 0;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    width: 170px;
    height: 51px;
    cursor: pointer;
    border: 1px solid transparent;}
     

.button.all {padding: 8px 16px;
    width: 69px;
    height: 48px;}

.button.web {padding: 8px 16px;
    width: 116px;
    height: 48px;}

.button.app {padding: 8px 16px;
    width: 78px;
    height: 48px;} 
        
.button.desing {padding: 8px 16px;
    width: 101px;
    height: 48px;} 
        
.button.marketing {padding: 8px 16px;
    width: 126px;
    height: 48px;}         

.button.primary {color: var(--second-text-color);background-color: var(--accent-color);}  
.button.secondary {color: var(--accent-color);background-color: var(--other-background-color);}

.button.primary:hover {background-color: var(--second-text-color); color: var(--accent-color);}   
.button.primary:focus {background-color: var(--second-text-color); color: var(--accent-color);}

.button.secondary:hover {color: var(--second-text-color); background-color: var(--accent-color); }
.button.secondary:focus {color: var(--second-text-color); background-color: var(--accent-color);  }   

.btn-list  {margin-top: 96px;
margin-bottom: 72px;}

/* description */

.description-ul {margin-bottom: 120px;}  

.description-header {font-weight: 600;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color:var(--title-text-color);
    margin-top: 0;
    margin-bottom: 8px;}

.description-text {color:var(--primary-text-color);
                   letter-spacing: 0.02em;
                   margin-top: 0;
                   margin-bottom: 0;}   
                 
/* images */

.images-header {font-weight: 600;
    font-size: 36px;
    line-height: 1.1;    
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color:var(--title-text-color);
    margin-top: 0;
    margin-bottom: 72px;}

.images-ul { margin-top: 0;
    margin-bottom: 240px;}

.ul-images  {margin-top: 0;
margin-bottom: 120px;}  

/* our team */

.team {background:var(--other-background-color);}
.team-header {font-weight: 600;
    font-size: 36px;
    line-height: 1.1;    
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--title-text-color);
    margin-top: 0;
    margin-bottom: 72px;}

.foto {margin-top: 0;
    margin-bottom: 32px;}    

.team-header-name {font-weight: 600;
    font-size: 20px;  
    letter-spacing: 0.02em;  
    color:var(--title-text-color);
    margin-top: 0;
    margin-bottom: 8px;}  
    
.team-text-name {color:var(--primary-text-color);
                 letter-spacing: 0.02em;
                 margin-top: 0;
                 margin-bottom: 152px;}    


/* footer */

.footer {background: var(--title-text-color);}
.footer.studio {color: var(--other-background-color); }
.footer.text {color: #E7E9FC;
              letter-spacing: 0.02em;
              margin-top: 0;
              margin-bottom: 0;
            padding-bottom: 100px;}

.footerlogo {padding-top: 100px;
margin-bottom: 16px;}          




/* hiden title */

.hide {display: none;
        transition: all ease 0.8s;}    